# Server configuration
PORT=3000
NODE_ENV=development

# CORS configuration
CORS_ORIGIN=*

# Uploads
UPLOAD_DIR=./uploads

# Logging
LOG_LEVEL=info

# DynamoDB Configuration
CLAIMS_TABLE_NAME=Claims
DYNAMODB_ENDPOINT=http://localhost:4566
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test